<?xml version="1.0"?>
<ServerSettings>
  <property name="ServerName" value="${SERVER_NAME}"/>
  <property name="ServerDescription" value="${SERVER_DESCRIPTION}"/>
  <property name="ServerWebsiteURL" value="${SERVER_WEBSITE_URL}"/>
  <property name="ServerPassword" value="${SERVER_PASSWORD}"/>
  <property name="ServerLoginConfirmationText" value="${SERVER_LOGIN_CONFIRMATION_TEXT}"/>
  <property name="Region" value="${REGION}"/>
  <property name="Language" value="${LANGUAGE}"/>
  <property name="ServerPort" value="${SERVER_PORT}"/>
  <property name="ServerVisibility" value="${SERVER_VISIBILITY}"/>
  <property name="ServerDisabledNetworkProtocols" value="${SERVER_DISABLED_NETWORK_PROTOCOLS}"/>
  <property name="ServerMaxWorldTransferSpeedKiBs" value="${SERVER_MAX_WORLD_TRANSFER_SPEED_KIBS}"/>
  <property name="ServerMaxPlayerCount" value="${SERVER_MAX_PLAYER_COUNT}"/>
  <property name="ServerReservedSlots" value="${SERVER_RESERVED_SLOTS}"/>
  <property name="ServerReservedSlotsPermission" value="${SERVER_RESERVED_SLOTS_PERMISSION}"/>
  <property name="ServerAdminSlots" value="${SERVER_ADMIN_SLOTS}"/>
  <property name="ServerAdminSlotsPermission" value="${SERVER_ADMIN_SLOTS_PERMISSION}"/>
  <property name="WebDashboardEnabled" value="${WEB_DASHBOARD_ENABLED}"/>
  <property name="WebDashboardPort" value="${WEB_DASHBOARD_PORT}"/>
  <property name="WebDashboardUrl" value="${WEB_DASHBOARD_URL}"/>
  <property name="EnableMapRendering" value="${ENABLE_MAP_RENDERING}"/>
  <property name="TelnetEnabled" value="${TELNET_ENABLED}"/>
  <property name="TelnetPort" value="${TELNET_PORT}"/>
  <property name="TelnetPassword" value="${TELNET_PASSWORD}"/>
  <property name="TelnetFailedLoginLimit" value="${TELNET_FAILED_LOGIN_LIMIT}"/>
  <property name="TelnetFailedLoginsBlocktime" value="${TELNET_FAILED_LOGINS_BLOCKTIME}"/>
  <property name="TerminalWindowEnabled" value="${TERMINAL_WINDOW_ENABLED}"/>
  <property name="AdminFileName" value="${ADMIN_FILE_NAME}"/>
  <property name="ServerAllowCrossplay" value="${SERVER_ALLOW_CROSSPLAY}"/>
  <property name="EACEnabled" value="${EAC_ENABLED}"/>
  <property name="IgnoreEOSSanctions" value="${IGNORE_EOS_SANCTIONS}"/>
  <property name="HideCommandExecutionLog" value="${HIDE_COMMAND_EXECUTION_LOG}"/>
  <property name="MaxUncoveredMapChunksPerPlayer" value="${MAX_UNCOVERED_MAP_CHUNKS_PER_PLAYER}"/>
  <property name="PersistentPlayerProfiles" value="${PERSISTENT_PLAYER_PROFILES}"/>
  <property name="MaxChunkAge" value="${MAX_CHUNK_AGE}"/>
  <property name="SaveDataLimit" value="${SAVE_DATA_LIMIT}"/>
  <property name="GameWorld" value="${GAME_WORLD}"/>
  <property name="WorldGenSeed" value="${WORLD_GEN_SEED}"/>
  <property name="WorldGenSize" value="${WORLD_GEN_SIZE}"/>
  <property name="GameName" value="${GAME_NAME}"/>
  <property name="GameMode" value="${GAME_MODE}"/>
  <property name="GameDifficulty" value="${GAME_DIFFICULTY}"/>
  <property name="BlockDamagePlayer" value="${BLOCK_DAMAGE_PLAYER}"/>
  <property name="BlockDamageAI" value="${BLOCK_DAMAGE_AI}"/>
  <property name="BlockDamageAIBM" value="${BLOCK_DAMAGE_AI_BM}"/>
  <property name="XPMultiplier" value="${XP_MULTIPLIER}"/>
  <property name="PlayerSafeZoneLevel" value="${PLAYER_SAFE_ZONE_LEVEL}"/>
  <property name="PlayerSafeZoneHours" value="${PLAYER_SAFE_ZONE_HOURS}"/>
  <property name="BuildCreate" value="${BUILD_CREATE}"/>
  <property name="DayNightLength" value="${DAY_NIGHT_LENGTH}"/>
  <property name="DayLightLength" value="${DAY_LIGHT_LENGTH}"/>
  <property name="BiomeProgression" value="${BIOME_PROGRESSION}"/>
  <property name="StormFreq" value="${STORM_FREQ}"/>
  <property name="DeathPenalty" value="${DEATH_PENALTY}"/>
  <property name="DropOnDeath" value="${DROP_ON_DEATH}"/>
  <property name="DropOnQuit" value="${DROP_ON_QUIT}"/>
  <property name="BedrollDeadZoneSize" value="${BEDROLL_DEAD_ZONE_SIZE}"/>
  <property name="BedrollExpiryTime" value="${BEDROLL_EXPIRY_TIME}"/>
  <property name="AllowSpawnNearFriend" value="${ALLOW_SPAWN_NEAR_FRIEND}"/>
  <property name="MaxSpawnedZombies" value="${MAX_SPAWNED_ZOMBIES}"/>
  <property name="MaxSpawnedAnimals" value="${MAX_SPAWNED_ANIMALS}"/>
  <property name="ServerMaxAllowedViewDistance" value="${SERVER_MAX_ALLOWED_VIEW_DISTANCE}"/>
  <property name="MaxQueuedMeshLayers" value="${MAX_QUEUED_MESH_LAYERS}"/>
  <property name="EnemySpawnMode" value="${ENEMY_SPAWN_MODE}"/>
  <property name="EnemyDifficulty" value="${ENEMY_DIFFICULTY}"/>
  <property name="ZombieFeralSense" value="${ZOMBIE_FERAL_SENSE}"/>
  <property name="ZombieMove" value="${ZOMBIE_MOVE}"/>
  <property name="ZombieMoveNight" value="${ZOMBIE_MOVE_NIGHT}"/>
  <property name="ZombieFeralMove" value="${ZOMBIE_FERAL_MOVE}"/>
  <property name="ZombieBMMove" value="${ZOMBIE_BM_MOVE}"/>
  <property name="BloodMoonFrequency" value="${BLOOD_MOON_FREQUENCY}"/>
  <property name="BloodMoonRange" value="${BLOOD_MOON_RANGE}"/>
  <property name="BloodMoonWarning" value="${BLOOD_MOON_WARNING}"/>
  <property name="BloodMoonEnemyCount" value="${BLOOD_MOON_ENEMY_COUNT}"/>
  <property name="LootAbundance" value="${LOOT_ABUNDANCE}"/>
  <property name="LootRespawnDays" value="${LOOT_RESPAWN_DAYS}"/>
  <property name="AirDropFrequency" value="${AIR_DROP_FREQUENCY}"/>
  <property name="AirDropMarker" value="${AIR_DROP_MARKER}"/>
  <property name="PartySharedKillRange" value="${PARTY_SHARED_KILL_RANGE}"/>
  <property name="PlayerKillingMode" value="${PLAYER_KILLING_MODE}"/>
  <property name="LandClaimCount" value="${LAND_CLAIM_COUNT}"/>
  <property name="LandClaimSize" value="${LAND_CLAIM_SIZE}"/>
  <property name="LandClaimDeadZone" value="${LAND_CLAIM_DEAD_ZONE}"/>
  <property name="LandClaimExpiryTime" value="${LAND_CLAIM_EXPIRY_TIME}"/>
  <property name="LandClaimDecayMode" value="${LAND_CLAIM_DECAY_MODE}"/>
  <property name="LandClaimOnlineDurabilityModifier" value="${LAND_CLAIM_ONLINE_DURABILITY_MODIFIER}"/>
  <property name="LandClaimOfflineDurabilityModifier" value="${LAND_CLAIM_OFFLINE_DURABILITY_MODIFIER}"/>
  <property name="LandClaimOfflineDelay" value="${LAND_CLAIM_OFFLINE_DELAY}"/>
  <property name="DynamicMeshEnabled" value="${DYNAMIC_MESH_ENABLED}"/>
  <property name="DynamicMeshLandClaimOnly" value="${DYNAMIC_MESH_LAND_CLAIM_ONLY}"/>
  <property name="DynamicMeshLandClaimBuffer" value="${DYNAMIC_MESH_LAND_CLAIM_BUFFER}"/>
  <property name="DynamicMeshMaxItemCache" value="${DYNAMIC_MESH_MAX_ITEM_CACHE}"/>
  <property name="TwitchServerPermission" value="${TWITCH_SERVER_PERMISSION}"/>
  <property name="TwitchBloodMoonAllowed" value="${TWITCH_BLOOD_MOON_ALLOWED}"/>
  <property name="QuestProgressionDailyLimit" value="${QUEST_PROGRESSION_DAILY_LIMIT}"/>
</ServerSettings>
